/*====  RESET ============================ */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*====  VARIABLES ============================ */

:root {
  --header-height: 3rem;
  /* colors */
  --hue: 228;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 100% 13%);
  --base-color-second: hsl(var(--hue) 74% 59%);
  --base-color-alt: hsl(var(--hue) 47% 53% /0.34);
  --title-color: hsl(0 0% 100%);
  --text-color: hsl(0 0% 46%);
  --text-color-alt: hsl(0 0% 78%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.25rem;
  --subtitle-font-size: 1rem;
  --family-font: 'Maven Pro', sans-serif;
}

/*===  BASE ============================ 
  body{
    height: fit-content;
  }
  
  main {
    margin-left: 6rem;
    padding: 0px 10px;
  }*/

.title {
  font: 700 var(--title-font-size) var(--family-font);
  -webkit-font-smoothing: auto;
  margin-bottom: 0.75rem;
}

.subtitle {
  font: 700 var(--subtitle-font-size) var(--family-font);
  margin-bottom: 0.5rem;
}

/*====  LAYOUT ============================ */
.container {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.section {
  margin-left: 3.75rem;
  padding: calc(2.5rem + var(--header-height)) 0;
}

.section header {
  margin-bottom: 4rem;
}
/*====  HEADER ============================ */
#header {
  width: 100%;
  height: var(--header-height);
  border-bottom: 2px solid var(--base-color-second);
  margin-bottom: 2rem;
  background-color: var(--base-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  justify-content: center;
}

.logo img {
  width: 7.5rem;
  padding: 0.5rem;
  margin-left: 5rem;
}

/*===  SIDEBAR NAVEGAÇÂO ============================ */

.side-nav {
  height: 100%;
  width: 3.75rem;
  position: fixed;
  /*z-index: 1;*/
  top: 0;
  left: 0;
  background-color: var(--base-color);
  overflow-x: hidden;
  margin-top: var(--header-height);
}

.icons-bar a {
  display: block;
  text-align: center;
  padding: 0.75rem;
  transition: all 0.3s ease;
  color: var(--title-color);
  font-size: 2rem;
  border-bottom: 2px solid var(--base-color-alt);
}

.icons-bar a:hover {
  background-color: var(--base-color-second);
}

.icons-bar a.active {
  background-color: var(--base-color-second);
}

/*===  SECTION DASHBOARD ============================ */
.cards-grid {
  display: grid;
  gap: 1rem;
}

.icon-cards a {
  color: var(--base-color-second);
  text-align: center;
  font-size: 3rem;
}

#dashboard .card {
  padding-bottom: 1.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

#dashboard h1 {
  background-color: var(--base-color);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Maven Pro';
  font-size: 1.5rem;
}

#dashboard .card h2 {
  background-color: var(--base-color-second);
  color: var(--title-color);
  text-align: center;
}

.add-button-dashboard {
  height: 2rem;
  width: 100%;
  color: var(--title-color);
  background-color: var(--base-color-second);
  cursor: pointer;
  border-style: none;
  font-size: var(--title-font-size);
  font-weight: 700;
}

/*===  FORMS ============================ */
.modal {
  position: fixed;
  top: calc(5rem + var(--header-height));
  width: 100%;
  /*left: 0;*/
  /*background: rgba(0, 0, 0, 0.090);*/
  height: 100%;
  color: var(--title-color);
  opacity: 1;
  text-align: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 71%;
  padding-bottom: 1.25rem;
  background-color: var(--title-color);
  box-shadow: 1px 1px 10px var(--base-color);
}

.modal-header {
  justify-content: center;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: var(--subtitle-font-size);
  font-family: var(--family-font);
  background-color: var(--base-color);
}

.modal-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
}

.modal-field {
  width: 100%;
  height: 3rem;
  outline-style: none;
  border-color: var(--base-color);
  box-shadow: 0 0 2px var(--base-color);
  padding: 0 0.625rem;
  font-size: var(--title-font-size);
}

.modal-buttons {
  display: flex;
  text-align: center;
  padding: 0 2.75rem;
}

.button-save {
  height: 2.5rem;
  padding: 0.375rem 0.75rem;
  margin-right: 1rem;
  background-color: var(--base-color);
  color: var(--title-color);
  cursor: pointer;
}

.button-save:hover,
.button-registers:hover {
  background-color: transparent;
  color: var(--base-color);
  border: 2px solid var(--base-color);
}

.button-registers {
  height: 2.5rem;
  padding: 0.375rem 0.75rem;
  background-color: var(--base-color);
  color: var(--title-color);
  cursor: pointer;
}


/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .section {
    padding: calc(0.5rem + var(--header-height)) 0;
  }

  .dashboard-container {
    display: grid;
    justify-content: center;
    /*width: 71%;*/
    margin-top: 5rem;
  }

  .cards-grid {
    grid-template-columns: 1fr 1fr ;
  }

  .modal {
    height: auto;
    top: calc(2.5rem + var(--header-height));
  }

  #modal-clients,
  #modal-products {
    display: flex;
    justify-content: center;
  }

  .modal-form {
    justify-content: center;
  }

  .modal-field {
    height: 2rem;
  }

  .modal-buttons {
    padding: 0;
  }

  .button-save,
  .button-registers {
    font: 700 var(--title-font-size) var(--family-font);
    width: 60%;
  }
}

/*===  SECTION SERVICES ============================ */

/*===  SECTION SUPPLIERS ============================ */
